In [1]:
import pandas as pd

# Lectura del fichero csv con separador ';'
data = pd.read_csv("C:\\TFM\\DFinal.csv", sep=";", engine="python")

In [2]:
# Primeros registros
data.head()

,Origen_Continente,Origen,Destino,Destino_Provincia,Anyo,Mes,Mes_Nombre,Gasto_Medio_Diario_PorVisitante,Tiempo_Medio_Estancia,Total_Turistas,Total_Pernoctaciones
0,Europa,Alemania,Andalucía,Almería,2021,1,Enero,11,"76,38",2993,32923
1,Europa,Alemania,Andalucía,Almería,2021,2,Febrero,"15,2","76,38",2424,36845
2,Europa,Alemania,Andalucía,Almería,2021,3,Marzo,"15,5","76,38",2465,38208
3,Europa,Alemania,Andalucía,Almería,2021,4,Abril,"17,2","76,38",2319,39887
4,Europa,Alemania,Andalucía,Almería,2021,5,Mayo,"14,7","76,38",2443,35912

In [3]:
# Información
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49682 entries, 0 to 49681
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Origen_Continente                49682 non-null  object
 1   Origen                           49682 non-null  object
 2   Destino                          49682 non-null  object
 3   Destino_Provincia                49682 non-null  object
 4   Anyo                             49682 non-null  int64
 5   Mes                              49682 non-null  int64
 6   Mes_Nombre                       49682 non-null  object
 7   Gasto_Medio_Diario_PorVisitante  49682 non-null  object
 8   Tiempo_Medio_Estancia            49682 non-null  object
 9   Total_Turistas                   49682 non-null  int64
 10  Total_Pernoctaciones             49682 non-null  int64
dtypes: int64(4), object(7)
memory usage: 4.2+ MB

In [5]:
# Resumen estadístico
#data.describe(include = "all")

# Filtrar las columnas de tipo objeto (categóricas)
columnas_categoricas = data.select_dtypes(include='object')

# Aplicar una función personalizada para obtener la información deseada
resumen_personalizado = columnas_categoricas.apply(lambda col: col.describe(include=['count', 'unique', 'top', 'freq']))

resumen_personalizado

,Origen_Continente,Origen,Destino,Destino_Provincia,Mes_Nombre,Gasto_Medio_Diario_PorVisitante,Tiempo_Medio_Estancia
count,49682,49682,49682,49682,49682,49682,49682
unique,4,35,17,50,12,262,1834
top,Europa,Alemania,Andalucía,Barcelona,Agosto,"7,8","43,34"
freq,34053,2082,9096,1445,5058,791,165

In [3]:
# Tipos de datos
data.dtypes

Origen_Continente                  object
Origen                             object
Destino                            object
Destino_Provincia                  object
Anyo                                int64
Mes                                 int64
Mes_Nombre                         object
Gasto_Medio_Diario_PorVisitante    object
Tiempo_Medio_Estancia              object
Total_Turistas                      int64
Total_Pernoctaciones                int64
dtype: object

In [6]:
# Registros del dataset
len(data)

99382

In [37]:
# Conteo valores nulos
data.isnull().sum()

RESIDENCIA/ORIGEN            0
Continentes               7632
Países                   45792
Provincia de destino         0
Concepto turístico           0
Periodo                      0
Total                   692187
dtype: int64